@import 'breakpoints';
 
 header {
  padding-top: 7px;
  background-color: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  @include mq() {
    padding-top: 10px;
  }
 }

 .header-contents {
   display: flex;
   justify-content: space-between;
 }

 .logo-img {
   width: 300px;
   @include mq() {
     width: 200px;
   }
 }

.header-nav {
    display: flex;
    li {
        padding-left: 50px;
        line-height: 79px;
        @include mq() {
            line-height: 52px;
        }
    }
}

/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
#hm-icon {
  position: fixed;
  right: 100px;
  top: 20px;
  z-index: 10;
  
  @include mq() {
    right: 20px;
  }
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  
  @include mq() {
    width: 40px;
    height: 30px;
  }
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  
  @include mq() {
    height: 2px;
  }
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
  
  @include mq () {
    top: 14px;
  }
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
  
  @include mq() {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
  }
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}


/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}

#sp-menu h2 {
  margin: 23px 0 60px 0;
  text-align: center;
}

#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
